[submodule "pi-pico-adafruit-neopixels"]
	path = pi-pico-adafruit-neopixels
	url = https://github.com/martinkooij/pi-pico-adafruit-neopixels
[submodule "SparkFun_u-blox_GNSS_Pico_library"]
	path = SparkFun_u-blox_GNSS_Pico_library
	url = https://github.com/smartwindshield/SparkFun_u-blox_GNSS_Pico_library
